<% layout('./layouts/boilerplate') %>
   <link rel="stylesheet" href="/css/star.css">
    <div class="row">

        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= camptour.image %>" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= camptour.title %></h5>
                    <p class="card-text"><%= camptour.description %></p>
                </div>
            
             <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= camptour.location %></li>
                <li class="list-group-item">Author: <%= camptour.author.username %></li>
                <li class="list-group-item">$<%= camptour.price %> / today</li>
            </ul>

            <% if(currentUser && camptour.author.equals(currentUser._id)) { %>
                <div class="card-body">
                <a href="/camptours/<%= camptour._id %>/edit" class="btn btn-info">Edit</a>
                 <form action="/camptours/<%= camptour._id %>?_method=DELETE" method="POST" class="d-inline">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            
            <div class="card-footer text-muted">
                3 days ago
            </div>
            </div>
        </div>

         <div class="col-6">
            <h2>Leave a Review</h2>
            <form action="/camptours/<%= camptour._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                <div class="mb-3">
                    <!-- <label for="rating" class="form-label">Rating:</label> -->

                    <!-- <input type="range" id="rating" min="1" max="5" class="form-control" name="review[rating]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div> -->

                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>

                </div>

                <div class="mb-3">
                     <label for="body" class="form-label">Review:</label>
                    <textarea id="body"  class="form-control" name="review[body]" rows="3"  cols="30" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>

            <% for(let review of camptour.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= review.author.username %></h5>
                        <p class="starability-result" data-rating="<%= review.rating %>">
                                Rated: <%= review.rating %> stars
                        </p>
                        <p class="card-text">Review: <%= review.body %></p>
                        <% if(currentUser && review.author.equals(currentUser._id)) { %>
                            <form action="/camptours/<%= camptour._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                        
                    </div>                  
                </div>
            <% } %>
        </div>

       
    </div>

   
   